body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

.container {
  background: #fff;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

input[type="file"] {
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 5px;
}
